@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */
body {
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(210, 223, 234);
}
a {
    text-decoration: none;
    color: darkblue;
}
p {
    color: rgb(77, 66, 66);
}
.main__title {
    text-align: center;
    color: rgb(109, 105, 105);
}
.main__title h2 {
    color: rgb(63, 63, 63);
}
.main__myDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main__myDescription__img img{
    width: 200px;
    border-radius: 10px;
}
h4 {
    color: rgb(25, 25, 25);
}
.main__container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main__container__pros {
    width: 270px;
}
.main__container li {
    color: rgb(65, 65, 68);
}
.footer__contact {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer__contact ion-icon {
    font-size: 10px;
}
.footer__contact a {
    color: darkgreen;
}
@media (max-width: 1100px) {
    body {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 800px) {
    body {
        padding-left: 50px;
        padding-right: 50px;
    }
    .main__myDescription__img img{
        width: 180px;
        border-radius: 10px;
    }
}
@media (max-width: 600px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .main__myDescription__img img{
        width: 150px;
    }
}
@media (max-width: 390px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .main__myDescription__img img{
        width: 120px;
    }
    .main__container__pros{
        width: 58px;
    }
    .main__container__skills{
        width: 58px;
    }
    .main__container__languages{
        width: 58px;
    }
    .main__container li {
        font-size: 12px;
    }
    h4 {
        font-size: 14px;
    }
}